@tailwind base;
@tailwind components;
@tailwind utilities;



/*h1 {*/
/*    background: #7F7FD5;*/
/*    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);*/
/*    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);*/
/*    background-clip: text;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/





#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}



/* Default style for the Eraser button */


/* Style for the Eraser button when active */
.eraser-button.active {
    background-color: #DA2877;
    border:none;
    color: white;
}


